# üìå  Fase 3 - An√°lisis Inferencial


Utilizando un conjunto de datos que hemos compartido, se busca evaluar si existen diferencias significativas en el n√∫mero de vuelos reservados seg√∫n el nivel educativo de los clientes. 

Para ello, los pasos que deber√°s seguir son:

1. Preparaci√≥n de Datos
Filtra el conjunto de datos para incluir √∫nicamente las columnas relevantes:  
`Flights Booked` y `Education`.

2. An√°lisis Descriptivo
Agrupa los datos por nivel educativo y calcula estad√≠sticas descriptivas b√°sicas del n√∫mero de vuelos reservados para cada grupo.

3. Prueba Estad√≠stica
Realiza una prueba significativa en el n√∫mero de vuelos reserva
de hip√≥tesis para determinar si existe una dos entre los diferentes niveles educativos.


1. **Library imports**

In [14]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import warnings
warnings.filterwarnings("ignore")

2. **Dataset loading and configuration**

In [4]:
df = pd.read_csv("Customer Loyalty Program & Flight Data ‚Äì Canada.csv")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


#### 1. Preparaci√≥n de Datos
Filtra el conjunto de datos para incluir √∫nicamente las columnas relevantes:  
`Flights Booked` y `Education`.

In [9]:
# Atualizar o DataFrame original df para conter apenas as colunas solicitadas
df_merge = df[['Flights Booked', 'Education']]

# Exibir as primeiras linhas para confirmar
df_merge

        Flights Booked Education
0                    3  Bachelor
1                   10   College
2                    6   College
3                    0  Bachelor
4                    0  Bachelor
...                ...       ...
401683               0   College
401684               0    Doctor
401685               3  Bachelor
401686               0   College
401687               0  Bachelor

[401688 rows x 2 columns]

#### 2. An√°lisis Descriptivo
Agrupa los datos por nivel educativo y calcula estad√≠sticas descriptivas b√°sicas del n√∫mero de vuelos reservados para cada grupo.

In [ ]:
# Agrupar por n√≠vel educacional e calcular estat√≠sticas descritivas do n√∫mero de voos reservados
df_stats = df_merge.groupby('Education')['Flights Booked'].describe()
df_stats
# A pesar de que las medias parecen ligeramente diferentes, los valores son muy similares.

                         count      mean       std  min  25%  50%  75%   max
Education
Bachelor              251400.0  4.090354  5.214194  0.0  0.0  1.0  8.0  21.0
College               101712.0  4.145656  5.237434  0.0  0.0  1.0  8.0  21.0
Doctor                 17616.0  4.149296  5.246376  0.0  0.0  1.0  8.0  21.0
High School or Below   18768.0  4.142210  5.229254  0.0  0.0  1.0  8.0  21.0
Master                 12192.0  4.167815  5.204100  0.0  0.0  1.0  8.0  21.0

#### 3. Prueba Estad√≠stica
Realiza una prueba de hip√≥tesis para determinar so existe una diferencia signficativa en el n√∫mero de vuelos reservados entre los diferentes niveles educativos.

En teor√≠a, como estamos comparando m√°s de dos grupos (por ejemplo: College, High School or Doctor), el test estad√≠stico ser√≠a una ANOVA de un solo factor. Sin embargo, en clase usamos una funci√≥n llamada prueba_hipotesis() que implementa un t-test, que est√° dise√±ado para comparar solo dos grupos a la vez. Por esta razon hice una demo por pares usando esta funci√≥n.

In [17]:
# Definimos la funci√≥n que va a realizar la prueba de hip√≥tesis
def prueba_hipotesis(*args):  # *args permite pasar dos o m√°s grupos como argumentos
     
    # Primero verificamos si estamos comparando solo dos grupos
    if len(args) == 2:
        # Si hay dos grupos, usamos la prueba de Levene para comprobar si las varianzas son iguales
        p_valor_varianza = stats.levene(*args, center = "median")[1]  # Extraemos solo el p-valor (√≠ndice 1 del resultado)
    else:
        # Si hay m√°s de dos grupos, usamos la prueba de Bartlett
        p_valor_varianza = stats.bartlett(*args)[1]
    
    # Seg√∫n el resultado del test de varianzas, decidimos si asumimos varianzas iguales o no
    if p_valor_varianza > 0.05:
        # Si las varianzas son iguales (p > 0.05), usamos el test t con varianzas iguales
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=True)
    else:
        # Si las varianzas son diferentes (p <= 0.05), usamos el test t con varianzas distintas
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=False)
        
    # Establecemos el nivel de significancia (alfa) en 0.05
    alfa = 0.05

    # Comparamos el p-valor con el nivel de significancia para tomar la decisi√≥n
    if p_valor < alfa:
        # Si el p-valor es menor que 0.05, rechazamos la hip√≥tesis nula
        print("Rechazamos la hip√≥tesis nula.")
        print("Hay una diferencia significativa en los ingresos promedio entre los dos grupos.")
    else:
        # Si el p-valor es mayor o igual que 0.05, no podemos rechazar la hip√≥tesis nula
        print("No podemos rechazar la hip√≥tesis nula.")
        print("No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.")

# Hip√≥tesis Nula (H0):
# No hay diferencia significativa en el n√∫mero promedio de vuelos reservados entre los dos niveles educativos comparados.

# Hip√≥tesis Alternativa (H1):
# Existe una diferencia significativa en el n√∫mero promedio de vuelos reservados entre los dos niveles educativos comparados.

In [ ]:
# Filtra el DataFrame para obtener solo las filas donde el nivel educativo es 'College'
# y selecciona la columna 'Flights Booked' con los valores individuales de vuelos reservados.
grupo_college = df_merge[df_merge['Education'] == 'College']['Flights Booked']
grupo_college.reset_index()

         index  Flights Booked
0            1              10
1            2               6
2           17               0
3           20               6
4           21              11
...        ...             ...
101707  401675              11
101708  401677              14
101709  401680               1
101710  401683               0
101711  401686               0

[101712 rows x 2 columns]

In [ ]:
grupo_college = df_merge[df_merge['Education'] == 'College']['Flights Booked']
# Filtra el DataFrame para obtener solo las filas donde el nivel educativo es 'College'
# y selecciona la columna 'Flights Booked' con los valores individuales de vuelos reservados.

grupo_hs = df_merge[df_merge['Education'] == 'High School or Below']['Flights Booked']
# Filtra las filas donde la educaci√≥n es 'High School or Below' (secundaria o inferior)
# y selecciona la columna de vuelos reservados.

grupo_doctor = df_merge[df_merge['Education'] == 'Doctor']['Flights Booked']
# Filtra las personas con t√≠tulo de doctorado y extrae sus valores de vuelos reservados.

grupo_bachelor = df_merge[df_merge['Education'] == 'Bachelor']['Flights Booked']
# Filtra las personas con t√≠tulo universitario de grado ('Bachelor') y toma sus vuelos reservados.

grupo_master = df_merge[df_merge['Education'] == 'Master']['Flights Booked']
# Filtra las personas con t√≠tulo de maestr√≠a ('Master') y obtiene sus datos de vuelos reservados.


# Compara√ß√µes por pares (todas 10 combina√ß√µes poss√≠veis)
print("üîé Comparando: Bachelor vs College")
prueba_hipotesis(grupo_bachelor, grupo_college)

print("\nüîé Comparando: Bachelor vs Doctor")
prueba_hipotesis(grupo_bachelor, grupo_doctor)

print("\nüîé Comparando: Bachelor vs High School or Below")
prueba_hipotesis(grupo_bachelor, grupo_hs)

print("\nüîé Comparando: Bachelor vs Master")
prueba_hipotesis(grupo_bachelor, grupo_master)

print("\nüîé Comparando: College vs High School or Below")
prueba_hipotesis(grupo_college, grupo_hs)

print("\nüîé Comparando: College vs Doctor")
prueba_hipotesis(grupo_college, grupo_doctor)

print("\nüîé Comparando: College vs Master")
prueba_hipotesis(grupo_college, grupo_master)

print("\nüîé Comparando: Doctor vs High School or Below")
prueba_hipotesis(grupo_doctor, grupo_hs)

print("\nüîé Comparando: Doctor vs Master")
prueba_hipotesis(grupo_doctor, grupo_master)

print("\nüîé Comparando: High School or Below vs Master")
prueba_hipotesis(grupo_hs, grupo_master)

üîé Comparando: Bachelor vs College
Rechazamos la hip√≥tesis nula.
Hay una diferencia significativa en los ingresos promedio entre los dos grupos.

üîé Comparando: Bachelor vs Doctor
No podemos rechazar la hip√≥tesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.

üîé Comparando: Bachelor vs High School or Below
No podemos rechazar la hip√≥tesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.

üîé Comparando: Bachelor vs Master
No podemos rechazar la hip√≥tesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.

üîé Comparando: College vs High School or Below
No podemos rechazar la hip√≥tesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.

üîé Comparando: College vs Doctor
No podemos rechazar la hip√≥tesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.

üîé Comparando: College vs Master
No podemos rechazar la hip√≥tesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.

üîé Comparando: Doctor vs High School or Below
No podemos rechazar la hip√≥tesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.

üîé Comparando: Doctor vs Master
No podemos rechazar la hip√≥tesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.

üîé Comparando: High School or Below vs Master
No podemos rechazar la hip√≥tesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.